<!-- This will be yieded to the application.html -->

<h1>Root.html</h1>
<nav class="headernav">Class tabs go here
</nav>

<form class="form-signout" action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Sign out!">
</form>

<nav class="sidenav">in-class nav goes here</nav>

<main id="content">
</main>

<script type="text/javascript"> 
    window.currentUserID = <%=current_user.id%>
</script>

<script>$(MerlinsBoard.initialize)</script>