<!-- This will be yieded to the application.html -->

<h1>Root.html</h1>

<p>Things seem to be working</p>

<nav class="headernav">Class tabs go here</nav>

<nav class="sidenav">in-class nav goes here</nav>

<main id="content">
	<ul class="errors">
	</ul>
	Content goes here
</main>

<script type="text/javascript"> 
		//type apparently optional for HTML5 - otherwise needs to be specified
    window.currentUserID = <%=current_user.id%>
</script>

<script>$(MerlinsBoard.initialize)</script> <!-- alias for run on DOM ready -->
<!-- I wonder if the order even matters...sprockets should load all my javascript for me anyway -->