<div class="app-header group">
  <div class="app-logo">
      <img src="https://s3.amazonaws.com/merlinsboardapp/MerlinsBoard-logo.png">
  </div>

  <form class="form-signout" action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit">
  </form>
</div>
<nav class="subsumed-header-nav group">
  <nav class="header-nav">Class tabs go here</nav>
</nav>

<section class="app group">
<nav class="side-nav">in-class nav goes here</nav>

<main id="content">
</main>
</section>

<script> 
    window.currentUserID = <%=current_user.id%>
    $(MerlinsBoard.initialize)
</script>