.header-nav a {
  background: #F0EBF2;
  color: #918D92;
  padding: 20px 40px;
  display: inline-block;
  font-size: 24px;
  border-top: 2px solid;
  border-right: 2px solid;
  border-left: 2px solid;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-color: #615F62;
}

.user-tip {
  float: right
}