.side-nav a {
  background: #AC5DC6;
  color: white;
  padding: 5px;
  margin: auto;
  border: 1px solid black;
  display: block;
  font-family: "Franklin Gothic Medium";
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  word-wrap: break-word;
}

.nav-course {
  position: relative;
}