.subsumed-header-nav {
}

.header-nav {
  float: left;
}

.form-signout {
  float: right;
  transform: translateY(30px);
}

.form-signout input[type=submit]{
/*     background: url(http://lrroberts0122.github.com/DWS/lab6/level-2/images/button.png);
    border: 0;
    display: block;
    height: _the_image_height;
    width: _the_image_width; */
}

.side-nav {
  background: #EEE;
  width: 20%;
  float: left;
  position: relative;
  height: 100%;
  border-right: 5px double #615F62;
}

#content {
  background: #DDD;
  width: 80%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

.app {
  border-top: 5px double #615F62;
  height: 100%;
  width: 100%;
  position: absolute;
}

.app-header{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  position: relative;
}

.app-header img {
  height: 81px;
  width: auto;
  float: left;
}