.subsumed-header-nav {
  background: #FFF;
}

.header-nav {
  float: left;
}

.form-signout {
  float: right;
}

.side-nav {
  background: #EEE;
  width: 20%;
  float: left;
  position: relative;
  height: 100%;
  b
}

#content {
  background: #DDD;
  width: 80%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  height: 100%;
}

.app {
  height: 100%;
  position: relative;
}
