<h1> Course Resources</h1>

<% resources.each(function (resource) {%>
<h3 class="resource-name">resource.escape("name")</h3>
<p class="resource-description">resource.escape("description")</p>
<!-- <a href="<%= resource.get(url) %>" class="resource-link">Download resource</a> -->
<br>
<% }) %>