<a href="#"> resources (need to implement)</a><br>
<a href="<%='#course/' + courseID + '/assignments'%>"> assignments </a><br>
<a href="<%='#course/'+ courseID +'/announcements' %>"> Announcements </a><br>
<a id="course-grades-link" data-id="<%= courseID %>"> Grades </a>
<br>
<a href="#">Home</a>
