<a href="<%='#course/'+ course.id +'/announcements' %>"> Announcements </a>
<a href="<%='#course/' + course.id + '/resources'%>"> Resources</a>
<a href="<%='#course/' + course.id + '/assignments'%>"> Assignments </a>
<a href="javascript:void(0)" data-id="<%= course.id %>" class="course-grades-link"> Grades </a>
<a href="#">Home</a>
