<a href="#"> grades (NOT IMPLEMENTED)</a><br>
<a href="#"> resources (NOT IMPLEMENTED)</a><br>
<a href="<%='#course/' + courseID + '/assignments'%>"> assignments </a><br>
<a href="#"> roster (NOT IMPLEMENTED)</a><br>
<a href="<%='#course/'+ courseID +'/announcements' %>"> Announcements </a>
<br>
<a href="">Home</a>