<a href="<%='#course/'+ courseID +'/announcements' %>"> Announcements </a>
<a href="<%='#course/' + courseID + '/resources'%>"> Resources</a>
<a href="<%='#course/' + courseID + '/assignments'%>"> Assignments </a>
<a href="javascript:void(0)" data-id="<%= courseID %>" class="course-grades-link"> Grades </a>
<a href="#">Home</a>
