<a href=""> Course Announcements </a>
<a href="#course/search"> Course Search/Enroll </a>
<a href="#course/taught"> Taught Courses</a>
<a href="<%='#student-profile/'.concat(MerlinsBoard.CurrentUser.id)%>">My Profile</a>