<a href=""> Course Announcements </a><br>
<a href="#course/search"> Course Search/Enroll </a><br>
<a href="#course/taught"> Taught Courses</a><br>
<a href="<%='#student-profile/'.concat(MerlinsBoard.CurrentUser.id)%>">My Profile</a><br>