<h1 class="help-title">Welcome to MerlinsBoard!</h1>

<p class="help-text">MerlinsBoard is a course-management application with features such as file upload and a simple interface that allows instructors to communicate course information to their students. New users should look for courses to enroll in or create their own course</p>

<h2 class="help-h2">Home Navigation</h2>

<h3 class="help-h3">Course Announcements</h3>
<p class="help-text">This is the landing page. This shows all the announcements from the courses that the current user attends.</p>

<h3 class="help-h3">Course Search/Enroll</h3>
<p class="help-text">This shows what courses the current user attends or teaches. Clicking on one of the links will lead to a page listing basic information about the course, as well as administrative options such as dropping/cancelling a course or adding instructors (if the class is taught by the current user).</p>

<h3 class="help-h3">Taught Courses</h3>
<p class="help-text">This leads to a listing of courses the current user teaches. Clicking on one of these links will lead you to the landing page of that course, where you can access resources such as grades, assignments, and documents (See "Course Navigation" below).</p>

<h3 class="help-h3">My Profile</h3>
<p class="help-text">This leads to the current user's profile. They can edit basic information about themselves like name, email, and choose a profile picture.</p>

<h2 class="help-h2">Course Navigation</h2>

<h3 class="help-h3">Announcements</h3>
<p class="help-text">Landing page for the course view. Instructors can post new announcements.</p>

<h3 class="help-h3">Resources</h3>
<p class="help-text">Files available for download. Instructors can upload new pdf/word/text files to the course.</p>

<h3 class="help-h3">Assignments</h3>
<p class="help-text">These are assignments due in the course.</p>

<h3 class="help-h3">Grades</h3>
<p class="help-text">When a student clicks on this item. It shows their own grades and allows them to make submissions for their grades. When an instructor clicks on this, it leads them to a search page. They can search for a specific student which will then present a link to their grades. Admins can then modify these grades by clicking on the grade number and typing in a new grade as well as uploading their own submissions.</p>

<h3 class="help-h3">Home</h3>
<p class="help-text">Go back to the app landing page</p>

<h2 class="help-h2">Header Navigation</h2>
<p class="help-text">The tabs at the header of the application allow for quick navigation between attended courses.</p>
