<h1>Welcome to MerlinsBoard</h1>

<p>MerlinsBoard is a course-management application with features such as file upload and a simple interface that allows instructors to communicate course information to their students. New users should </p>