<h3><%= user.escape('lname') + ", " + user.escape('fname')%></h3>

<img src="<%= user.get('avatar_picture')%>">

<p><%= user.get('email') %></p>

<% if (user.id == MerlinsBoard.CurrentUser.id) { %>
<button class="user-edit">Edit Information</button>
<button class="user-password">Change Password</button>
<% } %>