<h2>Find a User</h2>
<br>
<form class = "student-find">
	<label> User name
	<input type="text" class="user-find-input">
	</label>
	<input type="submit" value="Search">
</form>
<br>
<section class="student-results">
</section>
