/*
    Document   : app/assets/stylesheets/api/coursetabs.css
    Created on : 2015-03-11 06:45 PM
    Author     : CrazyDogsMcGee
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}