<h1>Assignments</h1>

<% assignments.each(function (assignment) { %>
<h3 class="assignment-title"><%= assignment.escape("title") %></h3>
<p class="assignment-description"><%= assignment.escape("description") %></p>
<table>
  <tr>
    <td>Due Date</td>
    <td><%= assignment.get("due_date") %></td>
  </tr>
</table>
<% if (isInstructor) {%>
<a class="assignement-edit" href="<%= '#course/' + assignment.get('course_id') + '/assignments/' + assignment.id + '/edit'%>">Edit Assignment</a>
<% } %>
<br>
<% }) %>

<% if (isInstructor) {%>
<button type="button" class="form">
  New Assignment
</button>
<% } %>

