<section class="form-errors">
</section>

<form class="user-form">
  <label for="oldpw">Verify Old Password</label>
  <input type="password" id="oldpw" name="supplied_password">
  <br>
  <label for="newpw">Enter New Password</label>
  <input type="password" id="newpw" name="password">
  <input type="submit" value="Change Password">
</form>

<button class="user-back">
  Back
</button>