<nav class="app-landing group">
  <%= link_to image_tag("https://s3.amazonaws.com/merlinsboardapp/Red-signin_Google_base_44dp.png"), user_omniauth_authorize_path(:google_oauth2), class: "google-sign-in"%>
  <a href="/session/new" class="app-landing-link">Sign in</a>
  <a href="/users/new" class="app-landing-link">Sign up</a>
</nav>

<section class="app-landing-form">
  <h1>Sign up</h1>

  <form id="form_id" action="<%= users_url %>" method="post" class="app-landing-form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="user-fname">First Name</label>
    <input type="text" name="user[fname]" value="" id="user-fname">
    <br>
    <label for="user-lname">Last Name</label>
    <input type="text" name="user[lname]" value="" id="user-lname">
    <br>
    <label for="user-email">Email</label>
    <input type="text" name="user[email]" value="" id="user-email">
    <br>
    <label for="user-password">Password</label>
    <input type="password" name="user[password]" value="">
    <br>
    <input type="submit" value="Sign up" class="submit">
  </form>
  
  <%= render 'layouts/errors' %>
</section>

<!-- Namespacing all params is important, otherwise they cannot be captured by the controller. -->
