<!-- This will be the view for all courses...eventually a search should go here..http://stackoverflow.com/questions/14206259/backbone-structure-for-search-form-and-results

all this will be is organized links-->

<form class = "course-find">
	<label> 
	<input type="text" class="course-find-input">
	</label>
	<input type="submit" value="Search (not working, don't touch)">
</form>

<ul class="course-results">

</ul>