<h1>Courses Taught</h1>

<section class="course-list">
  <% courses.each( function (course) { %>
	<li><a href="<%= '#course/'+course.id+'/announcements' %>" data-id="<%=course.id%>"><%= course.escape("name") %></a></li>
  <button data-id="<%=course.id%>">Edit Course</button>
  <% })%>
</section>

<section class="course-edit">
</section>