<!-- This will be the view for all courses...eventually a search should go here..http://stackoverflow.com/questions/14206259/backbone-structure-for-search-form-and-results

all this will be is organized links-->

<form class = "course-find">
	<input type="text" class="course-find-input">
	<input type="submit" value="Search">
</form>

<section class="course-results">
</section>
