<h1 class="course-enroll-header">Your Courses</h1>

<h2 class="course-label">Courses Attended</h2>
<section class="courses-attended">
</section>

<h2 class="course-label">Courses Taught</h2>
<section class="courses-taught">
</section>

<h1 class="course-label">Find a course</h1>
<section class="course-search"></section>