<h1>Your Courses</h1>

<h2>Courses Attended</h2>
<section class="courses-attended">
  
</section>
<br>
<h2>Courses Taught</h2>
<section class="courses-taught">
</section>
<br>

<h1>Find a course</h1>

<section class="course-search"></section>