<% if (courses.length == 0) { %>
<p class="course-none">No courses to list!</p>
<% } else { %>
  <% courses.each( function (course) { %>
    <li><a href="<%= '#course/' + course.id + '/enroll'%>"><%= course.escape("name") %></a></li>
  <% })%>
<% } %>