<!-- This ought to contain links to courses taught by and courses attended by current user -->

<h2>Attended Courses</h2>
<br>
<ul>
	<% user.courses.each(function (course) { %>
	
	<li><a class="course" data-id="<%= course.id %>"><%= course.name %></a></li>
<!-- Should just have an event bound to this -->
	<%})%>
</ul>

<br>

<h2>Taught Courses</h2>
<br>
<ul>
	<% user.taughtcourses.each(function (course) { %>
	<li><a class="course" data-id="<%= course.id %>"><%= course.name %></a></li>
	<%})%>
</ul>
<br>