.course-list button {
   -webkit-appearance: none;
  font-family: sans-serif;
  font-weight: bold;
  padding: 5px;
  color: black;
  background: #EEE;
  border-radius: 5px;
  display: inline-block;
  margin-left: 20px;
}

.course-list li {
  list-style: none;
  margin-bottom: 5px;
}