<h1>All Courses</h1>

<ul>
<% @courses.each do |course| %>
<li><a href="<%='courses/' + course.id.to_s%>"><%= course.name %></a></li>
<p><%= course.description %></p>
<% end %>
</ul>

<!-- how to preload the coursesstudents association? -->
<!-- because of button_to, I think method: :delete can be used, if it was a form or regular button, method post would be used instead. Also button_to wasn't working because I wasn't passing in the right url (which has to be the individual url) -->

<a href="<%= new_course_url %>">Create Course!</a>

<!-- I will have to turn this into a search in the future... -->