body {
  background: #993399;
}

section.app-landing-form{
  background: #FFF;
  border: 1px solid #AAA;
  font-style: Helvetica;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 10px;
}

section.app-landing-form > h1 {
  color: black;
  font-size: 24px;
  margin-bottom: 20px;
}

nav.app-landing {
  background: whitesmoke;
  font-family: sans-serif;
  max-height: 75px;
  position: relative;
}

nav.app-landing a.app-landing-link{
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  opacity: 1.0;
  float: right;
  padding: 15px;
  vertical-align: middle;
    display: table-cell;
}

.google-sign-in img {
  opacity: 1.0;
  float: left;
  position: absolute;
  height: 100%;
} 

section.app-landing-form input{
  display: block;
}

.app-landing-form input[type="submit"] {
  -webkit-appearance: none;
  font-family: sans-serif;
  font-weight: bold;
  padding: 5px;
  color: white;
  background: #FFB56A;
  text-shadow: 1px 1px 2px black;
  border-radius: 5px;
}

.app-guest input[type="submit"] {
  -webkit-appearance: none;
  margin: auto;
  background: #33CC33;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 10px;
  font-family: sans-serif;
  padding: 10px;
}