<h1 class="grade-student-header">Grades for <%= student.escape('fname') + " " + student.escape('lname')%></h1>

<section class="grade-errors">
</section>

<section class="grade-student-list">
</section>