<h1>Grades for </h1>

<% grades.each(function (grade) { %>
  <h4> grade.escape('assignment_title') </h4>
  <p> grade.escape('description')</p>
  <ul>
    <li></li>
    <li></li>
  </ul>
  <br>
<% }) %>
