<% var gradeUrl = "#course/".concat(course_id,"/grades/user/"%>
<% students.each(function (student) { %>
<a href="<%= gradeUrl.concat(student.id) %>"><%= student.escape("fname") + " " + student.escape("lname")%>("</a>
<% }) %>