<h1>Grades for <%=grades.escape('fname') + " " + grades.escape('lname')%></h1>

<% grades.each(function (grade) { %>
  <h4> grade.escape('assignment_title') </h4>
  <p> grade.escape('description')</p>
  Grade: <><strong class="grade-number"><%= grade.get('grade')%></strong><>
  <br>
<% }) %>
