<!DOCTYPE html>
<html>
<head>
  <title>MerlinsBoard</title>
	<%= stylesheet_link_tag "application", media: "all" %> <!-- These two are needed to establish the windowspace for backbone -->
	<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	
<body>
<% if current_user.nil? %>
  <nav class="app-landing group">
  <a href="/session/new" class="session-new">Sign in</a>
  <a href="/users/new" class="user-new">Sign up</a>
  </nav>
<% end %>

<%= yield %>

</body>
</html>
